<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Item List</title>
</head>
<body>
<h1 th:text="'Item '+${item.name}">Item Name</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Image</th>
        <th>Name</th>
    </tr>
    <tr>
        <td th:text="${item.id}"></td>
        <td th:text="${item.code}"></td>
        <td th:text="${item.image}"></td>
        <td th:text="${item.name}"></td>
    </tr>
</table>
<div>
    <label>Imagen</label>
    <a href="#" th:href="@{'/items/'+${item.id}+'/image'}" />Image</a>
</div>
</body>
</html>